@import url('https://fonts.cdnfonts.com/css/sf-compact-display');
@import url('https://fonts.cdnfonts.com/css/dasher');
@import url('https://fonts.cdnfonts.com/css/major-birch');
:root{box-sizing: border-box;
    /*font-family:Roboto;*/
    margin: 0px;
    padding: 0px;
    
    }

html {
       /*scroll-behavior:smooth;*/
       /*font-family: 'SF Compact Display', sans-serif;*/
       /*font-family: 'Dasher';*/
       font-family: 'Major Birch', sans-serif;
       /*font-size: 100px;*/
       font-weight: 900;
       letter-spacing: 0px;
                                                       
}  

body{
    display: block;
    width: auto;
    overflow-x: hidden;
    background-color:black ;
    background-repeat: no-repeat;
    background-size: cover;



        /*display: flex;
    flex-direction: column;
    flex-wrap: nowrap;*/
}

.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    color: #ae9964;
}
.main-header{
    width: 100vw;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    
}
.main-logo-opfor{
    display: block;
    /*margin:  auto;*/
    background-position:left;
   background-image: url("../Logo/LogoOpforIngineers.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vh;
    height: 50vh;
}

.main-logo-opfor-pic{
    margin: auto;
    
}
.main-header-left{
    grid-column: 1/2;
    color: #ae9964;

}
.lang{
    margin: auto;
}
.ukr{
    width: 60%;
    height: 100%;
    background-image: url("../Logo/free-icon-ukraine-330540.png");
    background-repeat: no-repeat;
    background-size: contain; 
    opacity: 0.8;
}
.ukr:hover{
    cursor: pointer;
    opacity: 1;
    transition: all 1s;
}
.main-header-top-text{
    display: block;
    grid-column: 2 / 3;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-family: 'Major Birch', sans-serif;
       /*font-size: 100px;*/
       font-weight: 900;
       letter-spacing: 0px;
       color: #ae9964;
       font-size: 3vh;
       margin: auto;
}
.main-header-right{
    grid-column: 3/4;
    color: #ae9964;
}
.eng{
    width: 60%;
    height: 100%;
    background-image: url("../Logo/free-icon-ukraine-330540.png");
    background-repeat: no-repeat;
    background-size: contain; 
    opacity: 0.8;
}
.eng:hover{
    cursor: pointer;
    opacity: 1;
    transition: all 1s;
}
